@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');
*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
    letter-spacing:1px;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
    scroll-behavior: smooth;
    &::-webkit-scrollbar {
        width: 1rem;
      }
      &::-webkit-scrollbar-track {
        background: #999;
      }
    &::-webkit-scrollbar-thumb {
        background: $main-color;
        border-radius: 5rem;
      }
      
}

section,footer{
    padding:2rem 9%;
}

.heading{
    font-size: 9rem;
    text-transform: uppercase;
    color:transparent;
    -webkit-text-stroke: .05rem $main-color;
    letter-spacing: .2rem;
    text-align: center;
    pointer-events: none;
    position: relative;
}

.heading span{
    position: absolute;
    top:50%; left:50%;
    transform: translate(-50%, -50%);
    width: 100%;
    color:$main-color;
    font-size: 3rem;
}
.btn{
    display: inline-block;
    padding:.9rem 1.5rem;
    border-radius: $border-radius;
    color:$main-color;
    background: none;
    border:$border;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.7rem;
}

.btn:hover{
    border-radius: $border-radius-hover;
    border:$border-hover;
    
}
#menu-btn{
    font-size: 3rem;
    color:$main-color;
    cursor: pointer;
    display: none;
}